<h1>База животных </h1>
<p></p>
<p></p>
<p> количество типов животных в базе <%= @animals_count  %></p>
<p></p>
<%= link_to('Добавить объявление', new_admin_animal_path)  %>
<p></p>

<table>
	
	<tbody id="animals">
		

		<%= render @animals %>			

	</tbody>
</table>
<div id="paginator">
			<%= paginate @animals, :remote => true %>
</div>