<h1>Animalstrade</h1>
<p>Здравствуйте, Сейчас Наша доска электронных обьявлений находится в разработке</p>
<p> <%= link_to('Просмотр объявлений', animals_path ) %></p> 
<% if can? :manage, Animal %>
  <%= link_to "Управление объявлениями",  admin_animals_path%>
<% end %>


