<h1>Home work 7</h1>
<p>Здравствуйте, Сейчас Наша доска электронных обьявлений находится в разработке</br>Согласно практическому заданию №7 Мы выполнили:</p>
<p>1 - Если Вы видите данную страничку значит Вам удалось зарегистрироваться на нашем сайте</p>
<p>2 - модель CRUD реализована для справочника животные Посмотреть можно по ссылке - <%= link_to('Справочник животных', admin_animals_path ) %></p> 
<p>3 - Список обьявлений пользователя с возможностью редактирования и вставления картинок. Посмотреть можно по ссылке - <%= link_to('Список всех обьявлений', admin_available_animals_path ) %></p> 
