<h1>Справочник животных</h1>
<p></p>
<p> количество типов животных в базе <%= @animals_count  %></p>
<p></p>
<table>
	<%- @animals.each do |animal| %>
	
	<tr>
		<td><%= animal.animals_type %></td>
		<td><%= link_to(animal.breed, admin_animal_path(id: animal.id)) %></td>
	</tr>

	<%- end %>
</table>